@font-face {
  font-family: Raleway-Regular;
  src: url("assets/fonts/Raleway/Raleway-Regular.ttf");
}

@font-face {
  font-family: Raleway-Semibold;
  src: url("assets/fonts/Raleway/Raleway-SemiBold.ttf");
}

@font-face {
  font-family: Roboto-Light;
  src: url("assets/fonts/Roboto/Roboto-Light.ttf");
  font-weight: 200;
}

.circle {
  overflow-wrap: inherit;
  position: absolute;
  width: 1004.88px;
  height: 1004.88px;
  left: 185px;
  top: 500.56px;
  transform: rotate(-45deg);
}

.course {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: anim 15s linear infinite reverse 900ms;
}

/* animations */

.bg-animation {
  animation: fadeIn 200ms ease-in-out 50ms;
}

.img-animation {
  animation: fadeInRight 600ms ease-in-out 50ms;
}

h1 {
  animation: fadeInUp 300ms ease-in 1ms;
}
h2 {
  animation: fadeInUp 400ms ease-in 1ms;
}

button {
  animation: fadeInUp 300ms ease-in 1ms;
}

@keyframes anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.course span {
  position: absolute;
  left: 50%;
  transform-origin: 0 500px;
}
